<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GCashCalc</title>
</head>
<body>
    <p>Ronel's GCash Balance, Cash and Profit Calculator:</p>
        <form method="post" action=".">
            <p><input name="number1" /> Previous Cash</p>
            <p><input name="number2" /> Previous GCash</p>
            <p><input name="number3" /> Previous Profit</p>
            <p><input name="number4" /> GCash + or -</p>
            <p><input name="number5" /> Cash + or -</p>
            <p><input name="number6" /> Additional Profit</p>
            <p><input type="submit" class="button" value="Calculate"></p>
        </form>
</body>
</html>